<% this.adminPage = 'error'; %>
<% include admin_header %>

<%
if (!(err instanceof ErrorMessage)) {
  err = new ErrorMessage(err.toString());
}
%>
<div class="ui negative icon message">
  <i class="remove icon"></i>
  <div class="content">
    <div class="header" style="margin-bottom: 10px; ">
      <%= err.message %>
    </div>
    <% if (err.details) { %>
      <p><%= err.details %></p>
    <% } %>
    <p>
      <% for (let text in err.nextUrls) { %>
        <a href="<%= err.nextUrls[text] %>" style="margin-right: 5px; "><%= text %></a>
      <% } %>
      <a href="javascript:history.go(-1)">Return to the Last Page</a>
    </p>
  </div>
</div>

<div class="ui positive icon message">
  <i class="github icon"></i>
  <div class="content">
    If you think this is a bug, Please submit an issue on <a href="https://github.com/ZhangZisu/ZenOnlineJudge/issues">our repo</a>, thank you!
  </div>
</div>

<% include admin_footer %>
