<% this.adminPage = 'upgrade'; %>
<% include admin_header %>
<form method="post" class="ui form">
    <div style="text-align: center; ">
        <h2>Notice: system will restart after upgrade.</h2>
    </div>
    <br/><br/>
    <div style="text-align: center; ">
        <button class="ui red button">Upgrade</button>
    </div>
</form>
<% include admin_footer %>
