<% this.title = article.id ? 'Edit Discussion' : 'Post Discussion'; %>
<% include header %>
<style type="text/css">
	.am-panel-title {
		font-size: 1.6em;
	}
</style>
<div class="padding">
	<form class="ui form" method="post">
		<div class="ui top attached tabular menu">
			<a class="item active" data-tab="edit">Edit</a>
			<a class="item" data-tab="preview" id="preview_tab">Preview</a>
		</div>
		<div class="ui bottom attached tab segment active" data-tab="edit">
			<div class="field">
				<label for="title">Title</label>
				<input type="text" id="title" name="title" value="<%= article.title %>">
				<label for="content">Content
					<i class="mega-octicon octicon-markdown"></i>
				</label>
				<div id="content" style="height: 500px;"><%= article.content %></div>
				<input type="hidden" name="content" value="<%= article.content %>">
				<% if (user && user.admin >= 2) { %>
				<div class="ui <% if (article.is_notice) { %>checked <% } %>checkbox" style="margin-top: 15px; ">
					<input <% if (article.is_notice) { %> checked <% } %> name="is_notice" type="checkbox">
					<label>
						<strong>Bulletin</strong>
					</label>
					<p style="margin-top: 5px; ">This article will be shown in the bulletin board of the home page after choose it.</p>
				</div>
				<% } %>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab="preview">
			<div class="ui header" id="pv-title"></div>
			<div id="pv-content" class="font-content"></div>
		</div>
		<button type="submit" class="ui button">
			Submit
		</button>
	</form>
</div>

<script src="/libs/ace/ace.js"></script>
<script type="text/javascript">
function registerACEditor(editorID, containerName, mode){
	var editor = ace.edit(editorID);

	editor.setTheme("ace/theme/tomorrow");
	editor.getSession().setMode(mode);
	editor.getSession().setUseSoftTabs(false);

	editor.container.name = containerName;
	editor.container.style.lineHeight = 1.6;
	editor.container.style.fontSize = '14px';
	editor.container.style.fontFamily = "'Roboto Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Consolas', 'Lucida Console', monospace";
	editor.setShowPrintMargin(false);
	editor.renderer.updateFontSize();

	var input = $(`[name="${containerName}"]`);
	editor.getSession().on("change", function () {
		input.val(editor.getSession().getValue());
	});
}

registerACEditor("content", "content", "ace/mode/markdown");

</script>

<script type="text/javascript">
	$(function () {
		function render(output, input) {
			$.post('/api/fastmarkdown', { s: input.val(), _csrf: document.head.getAttribute('data-csrf-token') }, function (s) {
				// console.log(s);
				output.html(s);
			});
		}
		$("#preview_tab").click(function () {
			$("#pv-title").text($("#title").val());
			$("#pv-content").text('Loading...');
			render($("#pv-content"), $("[name=\"content\"]"));
		});
		$('.tabular.menu .item').tab();
	});
</script>
<% include footer %>