</div>
    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
        <span style="color: #999;"><%= zoj.config.title %> Powered by <a href="https://git.zhangzisu.cn/zhangzisu/ZenOnlineJudge" target="_blank">Zen Online Judge™</a>.</span>
        <br><span style="color: #999;">version:<%= zoj.version %></span>
        <br><span id="wsstatus" style="color: #999;">Not logged in</span>
      </div>
    </div>

<script src="/semantic-ui/semantic.min.js"></script>
<script src="/libs/Chart.js/Chart.bundle.min.js"></script>
<script src="/script.js"></script>
<% if(user) { %>
<script>
  initWebSocket(<%= user.id %>);
</script>
<% } %>
<% if(user && user.theme == 'dark'){ %> 
  <script>$('img').css('filter', 'invert(1)');</script>
<% } %>
</body>
</html>
